
body {
    background-color: lightgray;
}
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: myFirstFont;
    src: url(bloodFont.ttf);
}

.textShadoo{
    text-shadow:0 0 50px red;
    margin-right: 25%;
    transition: transform 1s;
}

header.masthead  {
    text-decoration-color: yellow;
}

.bloodyChris {
    position:absolute;
}