{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <header class="masthead sky" style="background-image:url('img/village.jpg'); height:100vh;">

        <div class="bloodyChris">NO HELL ETHIC</div>
    <div class="container">
            <div class="intro-text textShadoo" style="">
                <div class="intro-lead-in whiteTextNav"><span>Welcome To Your Merry Christmas!!!</span></div>
                <div class="intro-heading text-uppercase whiteTextNav">
                    <span>Ton noel ethique pour un monde plus green</span></div>
            </div>
        </div>

    </header>
    <section id="transport" >
        <div id="santa">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Ton transport?</h2>
                    <h3 class="text-muted section-subheading">Par quel moyens iras-tu voir ta famille le jour de
                        noel?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a id="avion"><img src="/img/icone/icons8-aéroport-100.png" id="avionImage"></a>
                    {#mettre collapse#}
                    <p class="paraAvion" style="display: none">Venir en Avion?? Tu ne manques pas de pognons...</p>
                </div>
                <div class="col-md-4">
                    <a id="velo"><img src="/img/icone/icons8-cyclisme-sur-route-100.png" id="veloImage"></a>
                    {#mettre collapse#}
                    <p class="paraVelo" style="display: none">Bonne initiative, tu ne perdras pas ton permis et en plus
                        de ça tu perdras quelques kilos</p>
                </div>
                <div class="col-md-4">
                    <a id="voiture"><img src="/img/icone/icons8-voiture-100.png" id="voitureImage"></a>
                    {#mettre collapse#}
                    <p class="paraVoiture" style="display: none">C'est bien t'es déja rond et tu compte prendre la
                        voiture?</p>
                </div>
            </div>
        </div>
    </section>
    <section id="cadeaux" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Le cadeau de tes rêves</h2>
                    <h3 class="text-muted section-subheading">Choisis le cadeau de tes rêves</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a id="iphone"><img src="/img/icone/iphone.png" id="iphoneImage"></a>
                    {#mettre collapse#}
                    <p class="paraIphone" style="display: none">Plus chère qu'une bague, plus rare que l'or mais aussi
                        poncée que ta mère!</p>
                </div>
                <div class="col-md-4">
                    <a id="ourson"><img src="/img/icone/ourson.png" id="oursonImage"></a>
                    {#mettre collapse#}
                    <p class="paraOurson" style="display: none">Un ourson chinois? Fabriqué par des petites mains encore
                        plus petites que celle de ton gamin? </p>
                </div>
                <div class="col-md-4">
                    <a id="domino"><img src="/img/icone/domino.png" id="dominoImage"></a>
                    {#mettre collapse#}
                    <p class="paraDomino" style="display: none">Tu apprends la logique , tu deviendras développeur pour
                        être encore plus ethique !</p>
                </div>
            </div>
        </div>
    </section>
    <section id="nourriture">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">La nourriture idéale?</h2>
                    <h3 class="text-muted section-subheading">Que mangereas-tu pour Noël?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a id="canard"><img src="/img/icone/canard.png" id="imageCanard"></a>
                    {#mettre collapse#}
                    <p class="paraCanard" style="display: none">37 millions de canards et 700.000 oies sont gavées en
                        France pour produire du foie gras.</p>
                </div>
                <div class="col-md-4">
                    <a id="fish"><img src="/img/icone/fish.png" id="imageFish"></a>
                    {#mettre collapse#}
                    <p class="paraFish" style="display: none">Les polluants retrouvés dans le saumon d'élevage ont une
                        mauvaise influence sur le développement du cerveau, et sont associés à l'autisme, à
                        l'hyperactivité et à la baisse de QI.<span>D'où l'expression "CON COMME UN SAUMON"</span></p>
                </div>
                <div class="col-md-4">
                    <a id="vegetables"><img src="/img/icone/vegetables.png" id="imageVegetables"></a>
                    {#mettre collapse#}
                    <p class="paraVegetables" style="display: none">Rien de tel qu'une bonne platrée de légumes pour
                        chier bien mou</p>
                </div>
            </div>
        </div>
    </section>
    <section id="deco">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Ta déco favorite</h2>
                    <h3 class="text-muted section-subheading">Quelle est pour toi la décoration emblématique de Noël
                        ?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a id="feuille"><img src="/img/icone/feuille.png" id="feuilleImage"></a>
                    {#mettre collapse#}
                    <p class="paraFeuille" style="display: none">Une belle promenade en fôret, un moment passé en
                        famille, quelques feuilles devant la cheminée. Erreur 404.. </p>
                </div>
                <div class="col-md-4">

                    <a id="guirlande"><img src="/img/icone/guirlande.png" id="guirlandeImage" height="100"></a>

                    {#mettre collapse#}
                    <p class="paraGuirlande" style="display: none">Un bien beau morceau de ficelle</p>
                </div>
                <div class="col-md-4">
                    <a id="sapin"><img src="/img/icone/sapin.png" id="sapinImage"></a>
                    {#mettre collapse#}
                    <p class="paraSapin" style="display: none">Deux ans à pousser.... 1 mois à pourrir devant ta
                        cheminée ou ton radiateur....</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">Résultat</h2>
                    <h3 class="text-muted section-subheading">Mon Noël est-il éthylique ?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li id="transport-li" class="list-group-item" style="display: none">
                            <div id="transport-bg" class="timeline-image"><img id="transport-img"
                                                                               class="rounded-circle img-fluid">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 id="transport-title" class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p id="transport-txt" class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li id="cadeaux-li" class="list-group-item timeline-inverted" style="display: none">
                            <div id="cadeaux-bg" class="timeline-image"><img id="cadeaux-img"
                                                                             class="rounded-circle img-fluid">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 id="cadeaux-title" class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p id="cadeaux-txt" class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li id="nourriture-li" class="list-group-item" style="display: none">
                            <div id="nourriture-bg" class="timeline-image"><img id="nourriture-img"
                                                                                class="rounded-circle img-fluid">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 id="nourriture-title" class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p id="nourriture-txt" class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li id="deco-li" class="list-group-item timeline-inverted" style="display: none">
                            <div id="deco-bg" class="timeline-image"><img id="deco-img"
                                                                          class="rounded-circle img-fluid">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 id="deco-title" class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p id="deco-txt" class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image">
                                <h4 id="mon-profil">Voir<br>mon<br>profil !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="value-t" style="display: none"></div>
                <div id="value-c" style="display: none"></div>
                <div id="value-n" style="display: none"></div>
                <div id="value-d" style="display: none"></div>

                {#resultat de la recherche#}
                <div class="mt-5 d-flex flex-column">
                    <img id="result-img" class="rounded-circle img-fluid align-self-center mb-3" height="200px" width="200px">
                    <h4 id="result-title" class="w-50 ml-auto mr-auto text-center text-uppercase"></h4>
                    <h5 id="result-sub" class="w-50 ml-auto mr-auto text-center text-muted"></h5>
                    <p id="result-test" class="w-50 ml-auto mr-auto text-center"></p>
                </div>

            </div>
        </div>
    </section>

    <section id="contact" style="background-image:url('img/map-image.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Send this test to a friend</h2>
                    <h3 class="section-subheading text-muted">Help us spreading luv <3 </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm" novalidate="novalidate">
                        <div class="form-row">
                            <div class="col col-md-6">
                                <div class="form-group"><input class="form-control" type="text" id="name"
                                                               placeholder="Your Name *" required=""><small
                                            class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                <div class="form-group"><input class="form-control" type="email" id="email"
                                                               placeholder="Your Email *" required=""><small
                                            class="form-text text-danger help-block lead"></small></div>
                                <div class="form-group"><input class="form-control" type="tel"
                                                               placeholder="Your Phone *" required=""><small
                                            class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><textarea class="form-control" id="message"
                                                                  placeholder="Your Message *"
                                                                  required=""></textarea><small
                                            class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="col">
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton"
                                        type="submit">Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© NoHellEthic 2019</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                            class="img-fluid d-block mx-auto" src="img/portfolio/1-full.jpg">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                        deserunt repellat aperiam quasi sunt officia expedita beatae
                                        cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-unstyled">
                                        <li>Date: January 2017</li>
                                        <li>Client: Threads</li>
                                        <li>Category: Illustration</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i
                                                class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                            class="img-fluid d-block mx-auto" src="img/portfolio/2-full.jpg">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                        deserunt repellat aperiam quasi sunt officia expedita beatae
                                        cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-unstyled">
                                        <li>Date: January 2017</li>
                                        <li>Client: Threads</li>
                                        <li>Category: Illustration</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i
                                                class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                            class="img-fluid d-block mx-auto" src="img/portfolio/3-full.jpg">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                        deserunt repellat aperiam quasi sunt officia expedita beatae
                                        cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-unstyled">
                                        <li>Date: January 2017</li>
                                        <li>Client: Threads</li>
                                        <li>Category: Illustration</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i
                                                class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                            class="img-fluid d-block mx-auto" src="img/portfolio/4-full.jpg">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                        deserunt repellat aperiam quasi sunt officia expedita beatae
                                        cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-unstyled">
                                        <li>Date: January 2017</li>
                                        <li>Client: Threads</li>
                                        <li>Category: Illustration</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i
                                                class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                            class="img-fluid d-block mx-auto" src="img/portfolio/5-full.jpg">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                        deserunt repellat aperiam quasi sunt officia expedita beatae
                                        cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-unstyled">
                                        <li>Date: January 2017</li>
                                        <li>Client: Threads</li>
                                        <li>Category: Illustration</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i
                                                class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                            class="img-fluid d-block mx-auto" src="img/portfolio/6-full.jpg">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                        deserunt repellat aperiam quasi sunt officia expedita beatae
                                        cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-unstyled">
                                        <li>Date: January 2017</li>
                                        <li>Client: Threads</li>
                                        <li>Category: Illustration</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i
                                                class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe src="/sound/bell.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
    <iframe src="/sound/flou.mp3" allow="autoplay" id="audio1" style="display:none"></iframe>
    <iframe src="/sound/nohell.mp3" allow="autoplay" id="audio2" style="display:none"></iframe>
    <iframe src="/sound/ohOhOh.mp3" allow="autoplay" id="audio3" style="display:none"></iframe>
    <div hidden>
        <p><audio src="/sound/bell.mp3" controls id="playerBell"></audio></p>
        <p><audio src="/sound/flou.mp3" controls id="playerFlou"></audio></p>
        <p><audio src="/sound/nohell.mp3" controls id="playerNohell"></audio></p>
        <p><audio src="/sound/ohOhOh.mp3" controls id="playerOhOh"></audio></p>

    </div>
{#    <audio controls autoplay>#}
{#        <source src="/sound/bell.mp3" type="audio/mpeg">#}
{#        Your browser does not support the audio element.#}
{#    </audio>#}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('test') }}
    {{ encore_entry_script_tags('navbarMec') }}
    {{ encore_entry_script_tags('santaDude') }}
    {{ encore_entry_script_tags('mabite') }}
{% endblock %}
